# mod_rewrite starts here


RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d

# check for file with .html ext

RewriteCond %{REQUEST_FILENAME}\.html -f

RewriteRule ^(.*)$ $1.html [NC, L]

RewriteCond %{REQUEST_FILENAME}\.php -f

RewriteRule ^(.*)$ $1.php [NC, L]

# Set directory index to home

DirectoryIndex home.html
